<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAvSxetdKjDpLkgsYcikc8baHX-JsP7a2k</string>
	<key>GCM_SENDER_ID</key>
	<string>311283732407</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bookbell</string>
	<key>PROJECT_ID</key>
	<string>bookbell-a8579</string>
	<key>STORAGE_BUCKET</key>
	<string>bookbell-a8579.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:311283732407:ios:30aff41a058e0fb939a232</string>
</dict>
</plist>